html
{
 background-color: #378AF0;
 font-size: 10px;
 font-family: 'Faustina', serif;
}

body
{
 width: 1000px;
 margin: 0 auto;
 background-color: #E7D403;
 padding: 0 20px 20px 20px;
 border: 5px solid black;
}

img
{
 display: block;
 margin: 0 auto;
}

h1
{
 text-align: center;
 margin: 0;
 padding: 20px 0;
 color: #378AF0;
 font-size: 60px;
 font-family: 'Righteous', cursive;
 text-shadow: 2px 2px 1px black;
}

p, li
{
 font-size: 20px;
 line-height: 1.5;
 letter-spacing: 1px;
}

